*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: url(img/back.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container{
    background: rgb(204, 212, 219);
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    box-shadow: 5px 5px 20px gray;
    color: black;
}
#name{
    margin-top: 0;
}
.screen{
    box-sizing: border-box;
    padding: 6px;
    height:90px;
    background: rgb(71, 97, 97);
    margin-bottom: 1rem;
    text-align: right;
    border-radius: 4px;
    overflow: auto;
}
.screen h1{
    margin: 0;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 1rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 1rem;
    background: black;
    color: white;
}

#clear{
    background-color: red;
    color: white;
}
#delete{
    background-color: yellow;
    color: black; 
}

#result{
    background-color: forestgreen;
    color : white;
    width: 45%;
}

footer{
    margin-top: auto;
    color: thistle;
}



@media (max-width: 320px){
    .container{
        width: 100%;
        height: 70vh;
    }
    .screen{
        height: 50px;
    }
    .btn{
        box-sizing: border-box;
        padding: 6%;
    }
    
}